[submodule "Week11"]
	path = Week11
	url = git@github.com:VinaySatrasala/Week-11.git
[submodule "Week13/blogging-website"]
	path = Week13/blogging-website
	url = git@github.com:VinaySatrasala/blogging-website.git
[submodule "Week15/week-15-live-1"]
	path = Week15/week-15-live-1
	url = git@github.com:VinaySatrasala/week-15-live-1.git
[submodule "Week15/week-15-live-2.2"]
	path = Week15/week-15-live-2.2
	url = git@github.com:VinaySatrasala/week-15-live-2.2.git
